## Datos de LST

In [2]:
import numpy as np
import pandas as pd

`pinos.csv`: Datos de temperatura de superficie terrestre (LST) de un área de bosques de pinos.

Los datos provienen de dos productos MODIS que ya agregan las LST cada 8 días.

Hay 4 registros de LST para cada fecha: dos de LST diurna y dos de LST nocturna.

In [5]:
df_pino= pd.read_csv('pinos.csv')
df_pino.round(2)

          fecha  01:30  10:30  13:30  22:30
0    2020-01-01  11.39  28.01  33.94  12.14
1    2020-01-09   6.89  23.94  29.76   8.29
2    2020-01-17  12.31  30.30  37.55  13.92
3    2020-01-25   8.24  25.08  31.54  10.21
4    2020-02-02   7.46  25.06  30.09   9.33
..          ...    ...    ...    ...    ...
225  2024-11-24   3.22  19.02  23.83   4.87
226  2024-12-02   2.26  21.63  27.66   3.80
227  2024-12-10   6.96  25.20  31.05   9.55
228  2024-12-18   6.92  23.79  33.01   9.63
229  2024-12-26  11.73  27.19  34.53  14.07

[230 rows x 5 columns]

In [4]:
df_pino.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 230 entries, 0 to 229
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   fecha   230 non-null    object
 1   01:30   229 non-null    float64
 2   10:30   229 non-null    float64
 3   13:30   229 non-null    float64
 4   22:30   229 non-null    float64
dtypes: float64(4), object(1)
memory usage: 9.1+ KB

In [3]:
# Calculo el promedio de tres meses (ejemplo verano 2020-2021)
inicio = '2020-12-21'
fin = '2021-03-20'

df_3meses = df_pino[(df_pino['fecha'] >= inicio) & (df_pino['fecha'] <= fin)]
df_3meses

         fecha      01:30      10:30      13:30      22:30
45  2020-12-26   8.417256  26.210110  34.640609   9.807260
46  2021-01-01   9.090950  28.349277  33.497236  10.148775
47  2021-01-09   4.671762  20.373849  27.527990   6.364589
48  2021-01-17  12.120279  31.726227  38.266000  14.303095
49  2021-01-25   7.242275  25.991401  32.452296   8.189890
50  2021-02-02  12.223177  28.668437  35.975948  13.935962
51  2021-02-10  11.462503  25.763728  31.726145  13.092864
52  2021-02-18   7.664031  23.281787  31.219983   9.003645
53  2021-02-26  12.559893  26.701945  33.188017  14.025201
54  2021-03-06   8.841339  25.116472  32.675632  10.351294
55  2021-03-14   6.533718  23.433580  30.543067   7.403893

In [4]:
df_3meses[['01:30','10:30','13:30','22:30']].describe()

           01:30      10:30      13:30      22:30
count  11.000000  11.000000  11.000000  11.000000
mean    9.166108  25.965165  32.882993  10.602406
std     2.619578   3.040036   2.838774   2.831829
min     4.671762  20.373849  27.527990   6.364589
25%     7.453153  24.275026  31.473064   8.596768
50%     8.841339  25.991401  32.675632  10.148775
75%    11.791391  27.525611  34.068923  13.514413
max    12.559893  31.726227  38.266000  14.303095

In [10]:
temps = df_3meses[['01:30','10:30','13:30','22:30']].mean().values
x_values = [1.5, 10.5, 13.5, 22.5]
points = [(x, round(y, 2)) for x, y in zip(x_values, temps)]
points

[(1.5, 9.17), (10.5, 25.97), (13.5, 32.88), (22.5, 10.6)]

In [12]:
# Genero 4 puntos random de ese rango de fechas

df_random = df_3meses.sample(4, random_state=42)

# Definir las horas como valores x
x_values = [1.5, 10.5, 13.5, 22.5]

point_sets = [
    [(x, round(y, 2)) for x, y in zip(x_values, row[['01:30', '10:30', '13:30', '22:30']].values)]
    for _, row in df_random.iterrows()
]

point_sets

[[(1.5, 12.22), (10.5, 28.67), (13.5, 35.98), (22.5, 13.94)],
 [(1.5, 8.42), (10.5, 26.21), (13.5, 34.64), (22.5, 9.81)],
 [(1.5, 8.84), (10.5, 25.12), (13.5, 32.68), (22.5, 10.35)],
 [(1.5, 6.53), (10.5, 23.43), (13.5, 30.54), (22.5, 7.4)]]